html {
  overflow: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
}

h1 {
  color: rgb(55, 255, 20);
  text-shadow: #39ff14 0px 0px 10px;
  margin: 10px;
  position: absolute;
  top: 10px;
  width: 100%;
  margin: 0;
}

#form-generator,
#copy-result {
  padding: 10px;
  border-radius: 20px;
  margin: auto;
}

#form-generator {
  background-color: rgb(29, 29, 29,0.25);
  max-width: 350px;
  border: 3px solid rgb(55, 255, 20);
  animation: formAnim 2000ms linear infinite backwards;
}

#copy-result {
  position: absolute;
  top: 100px;
  right: -250px;
  background-color: #39ff14;
  color: #000000;
}

.copy-result-anim {
  animation: copyAnim 2000ms ease;
}

@keyframes formAnim {
  0% {
    box-shadow: 0px 10px 20px 5px #39ff14;
  }
  25% {
    box-shadow: -10px 0px 20px 5px #39ff14;
  }
  50% {
    box-shadow: 0px -10px 20px 5px #39ff14;
  }
  75% {
    box-shadow: 10px 0px 20px 5px #39ff14;
  }
  100% {
    box-shadow: 0px 10px 20px 5px #39ff14;
  }
}

@keyframes copyAnim {
  0% {
    right: -250px;
    width: 100px;
    box-shadow: 0px 0px 20px 5px #39ff14;
  }
  50% {
    width: 430px;
    background-color: #39ff14;
    box-shadow: 0px 0px 20px 5px #39ff14;
    color: #000000;
  }
  100% {
    right: -250px;
    width: 100px;
    background-color: #39ff14;
    box-shadow: 0px 0px 20px 5px #39ff14;
    color: #000000;
  }
}

#form-generator > * {
  color: #ffffff;
}

#view {
  border: 3px solid rgba(57,255,20);
}
#copy-button {
  color: #ffffff;
  border: 3px solid rgba(57,255,20);
  width: 100%;
}
